packages:
  yum:
    unixODBC-devel: []
    libsss_nss_idmap: []

commands:
  01-install-sql-driver:
    command: |
      curl https://packages.microsoft.com/config/rhel/7/prod.repo > /etc/yum.repos.d/mssql-release.repo
      ACCEPT_EULA=Y yum install msodbcsql17 -y
      yum install -y unixODBC-utf16-devel

option_settings:
  aws:elasticbeanstalk:application:environment:
    ODBCINI: /etc/odbc.ini
    ODBCSYSINI: /etc